
#sobreClinica{
    margin: 20px 0;
    padding: 0 90px;
    @include mobile{
        padding: 50px 15px;
    }
    @include tablet{
        padding: 50px 15px;
    }
    .intro-seccion{
        padding: 20px 0;
        margin-top: 30px;
        text-align: center;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            width: 60%;
            align-self: center;
            @include mobile{
                width: 100%;
            }
            @include tablet{
                width: 100%;
            }
        }
    }
    .sobre-nosotros{
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px 0;
        position: static;
        @include mobile{
            flex-direction: column;
            padding: 12px 15px;
        }
        h1{
            background-color: $color-primario;
            color: $color-claro;
            width: 100%;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);  
        }
        p{
            font-size: 14px;
        }
        .conteiner{
            border-radius: 10px;
            padding: 1rem;
            margin: 1rem;
            position: relative;
            display: inline-block;
            text-align: center;
            height: 350px;
            width: 350px;
            background-image: url(../images/clinica.png);
            background-repeat: no-repeat;      
            -webkit-box-shadow: 10px 13px 54px -24px rgba(24,24,24,1);
            -moz-box-shadow: 10px 13px 54px -24px rgba(24,24,24,1);
            box-shadow: 10px 13px 54px -24px rgba(24,24,24,1);
            @include mobile{
                width: fit-content;
                margin: 1rem 0;
            }
            @include tablet{
                margin: 1rem 0.5rem;
            }
            &:first-of-type{
                background-image: url(../images/clinica.png);
                background-repeat: no-repeat;
            }
            &:nth-of-type(2){
                background-image: url(../images/mision.png);
                background-repeat: no-repeat;
            }
            &:last-of-type{
                background-image: url(../images/vision.png);
                background-repeat: no-repeat;
            }
            &:hover{
                background-image: none;
                background-color: $color-primario;
            }
            @include tablet{
                &:active{
                    background-image: none;
                    background-color: $color-primario;
            }
            }
            p{
                height: 350px;
                color: transparent;
                &:hover{
                    color: $color-claro;
                }
                @include tablet{
                    font-size: $texto-sm
                }
            }
        }
    }
}

