
#introForm{
    height: auto;
    margin: 20px 0;
    padding: 60px 90px;
    width: 100%;
    background-color: #D9D9D9;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
        margin: 10px 0;
        padding: 30px 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .col-1 {
            flex: 0 0 auto;
            width: 100%;
        }
        .texto-contacto{
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            h1{
                order: 2;
            }
            p{
                order: 3;
            }
        }
        img{
            width: 100%;
            padding: 15px 0;
        }
    }
    @include tablet{
        padding: 20px 20px;
        .col-1 {
            flex: 0 0 auto;
            width: 45%;
        }
    }
/* Gradient */
    background: rgba(217,217,217,0);
    background: -moz-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0.39) 39%, rgba(217,217,217,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217,217,217,0)), color-stop(39%, rgba(217,217,217,0.39)), color-stop(100%, rgba(217,217,217,1)));
    background: -webkit-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0.39) 39%, rgba(217,217,217,1) 100%);
    background: -o-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0.39) 39%, rgba(217,217,217,1) 100%);
    background: -ms-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0.39) 39%, rgba(217,217,217,1) 100%);
    background: linear-gradient(to right, rgba(217,217,217,0) 0%, rgba(217,217,217,0.39) 39%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#d9d9d9', GradientType=1 );
    img{
        width: 100%;
    }
    .input-group {
        position: static;
        @include mobile{
            position: static;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            width: 100%;
            flex-direction: row;
        }
    }
    .mb-1{
        width: 49%;
        &:first-of-type{
            margin: 0 0.5rem 0 0;
        }
    }
    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 10px 0 10px;
    }
}
#preguntasFrecuentes{
    padding: 50px 10px;
    margin: 10px 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    @include mobile{
        margin: 10px 0;
        padding: 30px 15px;
        width: 100%;
    }
    @include tablet{
        margin: 10px 0;
        padding: 30px 15px;
        width: 100%;
    }
    .texto {
        margin-top: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        @include mobile{
            margin-top: 30px;
            padding: 10px 0 20px 0;
        }
        a{
            text-decoration: none;
            width: auto;
            color: #181818;
            background-color: #2EACBF;
            border: none;
            border-radius: 20px;
            padding: 10px 30px;
            margin: 10px;
            cursor: pointer;
            align-self: center;
            &:hover{
                color: #004E5A;
                background-color: #FFFFFF;
                border: 2px solid #004E5A;
            }
        }
    }
    .seccion-preguntas{
        width: 100%;
        @include mobile{
            padding: 20px 0;
        }
    }
    .contenedor-preguntas{
        width: 100%;
        padding-top: 20px;
        @include mobile{
            width: 100%;
            padding-top: 20px;
            a{
                text-align: start !important;
            }
        }
        .card.card-body{
            width: 100%;
        }
    }
    .btn-primary {
        width: 100%;
        background-color: $color-claro;
        color: $color-oscuro;
        border-bottom: 2px solid $color-primario;
        text-align: start;
        &:hover{
            color: $color-primario;
            border: none;
        }
    }
}

