
#introSeccion{ 
    @include intro-seccion-bootsrap;
    @include mobile{
        padding: 60px 0 20px 0;
        margin: 12px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .conteiner-fluid{
                width: 100%;
                margin: 20px 15px !important;
                padding: 0 25px;
            }
        }
    }
#seccionEspecialidades{
        margin: 0 0 10px 0;
        height: auto;
        .conteiner-especialidades{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        padding: 50px 90px;
        margin: 10px 20px;
        @include tablet{
            padding: 20px 10px;
            margin: 10px 10px;
        }
        @include mobile{
            margin: 12px 0;
            padding: 12px;
            flex-direction: column;
            .especialidad{
                width: 100% !important;
            }
        }
        .especialidad{
            width: 50%;
            height: 100%;
            padding: 12px;
            margin-bottom: 12px;
            padding-left: 20px;
            h1{
                border-bottom: 2px solid $color-secundario;
                padding: 12px;
                width: 80%;
                border-radius: 10px;
                @include tablet{
                    font-size: $texto-lg;
                }
             }
            
             h3{
                font-size: 18px;
                padding: 12px;  
                &:hover{
                    color: $color-secundario;
                    cursor: pointer;
                }
                @include tablet{
                    font-size: $texto-sm;
                    &:active{
                        color: $color-secundario;
                        cursor: pointer;
                    }
                }
             }
         }
     }
    }